.btn {
  display: inline-block;
  background-color: transparent;
  color: var(--text-color-secondary);
  padding: 10px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid var(--text-color-secondary);
  max-width: 350px;
  text-align: center;
}
.btn:hover {
  transform: scale(1.05);
}
