.service {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 80px;
    padding: 50px 62px;
    background-color: var(--background-color-primary);
}
.first, .second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
}
.second {
    padding-bottom: 80px;
}
.imgWrapper {
    border-radius: 15px;
    overflow: hidden;
    max-height: 520px;
}
.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 809px;
}
.title {
    font-size: var(--text-header-h2);
    font-weight: 600;
    color: var(--text-color-secondary);
}
.subtitle {
    font-size: var(--text-description);
    font-weight: 600;
    color: var(--text-color-secondary);
}
@media (max-width: 1439px) {
    .service {
        padding: 60px;
        gap: 60px;
    }
    .first, .second {
        gap: 60px;
    }
    .textWrapper {
        gap: 40px;
    }
}
@media (max-width: 1279px) {
    .service {
        padding: 40px;
        box-sizing: border-box;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .first, .second {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .second > *:first-child {
        order: 2;
      }
    .second > *:last-child {
        order: 1;
      }
    .textWrapper {
        gap: 20px;
    }
    .title {
        font-size: var(--text-header-h3);
    }
    .subtitle {
        font-size: var(--text-regular);
    }
}
@media (max-width: 400px) {
    .service {
        padding: 10px;
    }
}