.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    justify-content: center;
    border-top: 2px solid var(--text-color-secondary);
    padding: 2rem 1rem;
    margin: 0 7rem;
}
.btns {
    display: flex;
    gap: 2rem;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    background-color: var(--background-color-secondary);
    overflow: hidden;
}
.item > img {
    width: 300px;
    height: 250px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}
.btn {
    display: inline-block;
    background-color: transparent;
    color: var(--text-color-secondary);
    padding: 1rem 1rem;
    width: 150px;
    border-radius: 10px;    
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    align-self: start;
    border: 1px solid var(--text-color-secondary);
}
.btn:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}
.text h3 {
    font-size: 2rem;
    color: var(--text-color-secondary);
}
.text p {
    font-size: 1rem;
    color: var(--text-color-secondary);
    max-width: 265px;
    line-height: 1.2;
    text-align: justify;
}
.btnItem {
    display: inline-block;
    background-color: transparent;
    color: var(--text-color-secondary);
    padding: 0.5rem;
    width: 150px;
    border-radius: 10px;    
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    align-self: start;
    border: 1px solid var(--text-color-secondary);
}
.btnItem:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    width: 100%;
}