.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--background-color-primary);
  padding: 70px 62px;
  max-width: 100vw;
}
.title {
  font-size: var(--text-header-h2);
  color: var(--text-color-secondary);
  font-weight: 600;
  text-align: center;
}
.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.cards {
  overflow: hidden;
  width: 78%;
}
.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-image: url("/prev-braun.svg");
  background-color: var(--background-color-primary);
  cursor: pointer;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: none;
  height: 70px;
  border-radius: 50%;
  background-image: url("/next-braun.svg");
  background-color: var(--background-color-primary);
  cursor: pointer;
}
.card {
  /* min-width: 100%; */
  height: 420px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  max-width: 90%;
  height: 250px;
  margin: 0 auto;
}
.cardContent h3 {
  font-size: var(--text-header-h3);
  color: var(--text-color-primary);
  font-weight: 600;
  text-align: center;
}
.cardContent p {
  font-size: 14px;
  color: var(--text-color-primary);
  font-weight: 400;
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
}
.emblaTrack {
  display: flex;
  width: 100%;
  gap: 30px;
}

.emblaSlide {
  flex: 0 0 calc((100% - 90px) / 3);
  max-width: 320px;
  box-sizing: border-box;
}
.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 40%;
}
@media (max-width: 1279px) {
  .emblaSlide {
    flex: 0 0 calc((100% - 60px) / 2);
    max-width: none;
  }
}
@media (max-width: 550) {
  .wrapper {
    padding: 20px 16px;
  }
  .sliderWrapper {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 100%;
  }
  .emblaSlide {
    flex: 0 0 calc((100% - 60px) / 1);
    max-width: none;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}
