.langWrapper {
  max-width: 150px;
  max-height: 50px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.langWrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.item {
  color: var(--background-color-primary);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.langWrapperDark {
  max-width: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.darkItem {
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 600;
}
.select {
  background-color: var(--background-color-primary);
  color: var(--text-color-secondary);
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  text-align: center;
  text-align-last: center;
  cursor: pointer;

  -webkit-appearance: none; /* для Safari и Chrome */
  -moz-appearance: none; /* для Firefox */
  appearance: none;
}
@media (max-width: 1279px) {
  .langWrapper {
    display: none;
  }
}
