.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 131px;
    width: 100%;
    max-height: 65px;
}
.logo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
    width: 650px;
    background-color: var(--background-color-primary);
    height: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.wrapperNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
}
.wrapperNav a {
    color: var(--text-color-secondary);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}
.wrapperNav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--text-color-secondary);
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease-in-out;
}
.wrapperNav a:hover::after {
    width: 100%;
}
.btn {
    width: 150px;
    padding: 10px;
    background-color: var(--background-color-primary);
    border: 3px solid var(--text-color-secondary);
    border-radius: 50px;
    color: var(--text-color-secondary);
    font-weight: 600;
    cursor: pointer;
    font-size: var(--text-regular);
}
.btn:hover {
    border: none;
}