.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    background-image: linear-gradient(to bottom, rgba(247, 210, 173, 1), #422313);
    ;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.logo h3 {
    font-weight: 700;
    color: var(--text-color-primary);
    margin-bottom: 1rem;
    text-align: center;
}
.navFooter {
    display: flex;
    justify-content: center;
}
.navContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navContainer a {
    color: var(--text-color-primary);
    font-weight: 600;
    font-size: 14px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-color-primary);
}
.phone {
    display: flex;
    gap: 1rem;
    font-size: 14px;
}
.phone a {
    color: var(--text-color-primary);
    font-weight: 600;
}
.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-primary);
    font-size: 14px;
}
.copyright a {
    color: var(--text-color-primary);
}
@media (max-width: 1279px) {
    .wrapper {
        padding: 2rem;
    }
    .container {
        display: none;
    }
    .link {
        display: none;
    }
}