.adminPage {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    height: 100vh;
    overflow: hidden;
}
.sidebarContainer {
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-width: 60px;
    border-radius: 50%;
}
.content {
    padding: 2rem;
    background-color: #fff;
}
.greeting {
    font-size: 1.5rem;
    font-weight: bold;
}