.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 20px;
  background-color: var(--background-color-primary);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 295px));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 0;
  }
}
.title {
  font-size: var(--text-header-h2);
  font-weight: 600;
  color: var(--text-color-secondary);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 600px) {
  .card {
    padding: 12px;
  }
}
.icon {
  font-size: 40px;
  color: var(--text-color-secondary);
}
@media (max-width: 600px) {
  .icon {
    font-size: 20px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
}
.content h3 {
  font-size: var(--text-header-h3);
  font-weight: 600;
  color: var(--text-color-secondary);
  margin-top: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .content h3 {
    font-size: var(--text-header-h4);
  }
}
.content p {
  font-size: var(--text-regular);
  color: var(--text-color-secondary);
  font-style: italic;
}
@media (max-width: 600px) {
  .content p {
    font-size: var(--text-small);
  }
}
.note {
  font-size: var(--text-regular);
  color: var(--text-color-secondary);
  text-align: center;
  font-style: italic;
  font-weight: 700;
}
.noteWrapper {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--text-color-secondary);
  border-radius: 20px;
  background-color: bisque;
}
@media (max-width: 600px) {
  .noteWrapper {
    width: 100%;
  }
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
