.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 69px 62px;
  background-color: var(--background-color-primary);
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 860px;
  position: relative;
  gap: 0.5rem;
  padding: 1rem;
  border: 3px solid var(--text-color-secondary);
  border-radius: 1rem;
  max-height: 747px;
}
.emblaViewport {
  overflow: hidden;
  width: 100%;
  max-width: 828px;
  height: 611px;
  border-radius: 1rem;
}

.emblaContainer {
  display: flex;
  height: 100%;
}
.sliderMain {
  flex: 0 0 100%;
  width: 100%;
  max-width: 828px;
  height: 500px;
  height: 611px;
  border-radius: 1rem;
}
.sliderMain > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.track {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.trackItem {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}
.trackItem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.sliderBtns {
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.prev {
  background-image: url("/prev-braun.svg");
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-position: center;
}
.next {
  background-image: url("/next-braun.svg");
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-position: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 3px solid var(--text-color-secondary);
  border-radius: 1rem;
  width: 100%;
  height: 747px;
}
.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title {
  font-size: var(--text-header-h2);
  color: var(--text-color-secondary);
  font-weight: 600;
  max-width: 445px;
}
.stars > img {
  width: 40px;
  height: 40px;
}
.subtitle {
  font-size: var(--text-description);
  color: var(--text-color-secondary);
  font-weight: 600;
  margin-top: 0.5rem;
}
.colorDiv {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.colorTitle,
.width,
.furnitures {
  font-size: var(--text-description);
  color: var(--text-color-secondary);
  font-weight: 600;
}
.colors {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--text-color-secondary);
  cursor: pointer;
}
.link {
  font-size: var(--text-header-h2);
  color: var(--text-color-secondary);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 62px;
  background-color: var(--background-color-primary);
  border-bottom: 3px dotted var(--text-color-secondary);
}
.review {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 850px;
  border: 3px solid var(--text-color-secondary);
  padding: 1rem;
  border-radius: 1rem;
}
.reviewsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-size: var(--text-header-h2);
  color: var(--text-color-secondary);
  font-weight: 600;
}
.body {
  font-size: var(--text-regular);
  color: var(--text-color-secondary);
  font-weight: 600;
  line-height: 1.5;
}
.btn {
  background-color: var(--text-color-secondary);
  color: var(--text-color-primary);
  cursor: pointer;
  border: 1px solid var(--text-color-secondary);
  border-radius: 50px;
  padding: 26px;
  font-weight: 600;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: var(--background-color-primary);
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 800px;
  position: relative;
}
.modalContent h2 {
  font-size: var(--text-header-h2);
  color: var(--text-color-secondary);
  margin-bottom: 2rem;
  text-align: center;
}
.modalContent .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color-secondary);
  cursor: pointer;
}
.modalContent form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.form input,
.form textarea {
  padding: 1rem;
  border: 1px solid var(--text-color-secondary);
  border-radius: 0.5rem;
  font-size: var(--text-regular);
}
@media (max-width: 1440px) {
  .title {
    font-size: var(--text-header-h3);
    max-width: 70%;
  }
  .stars > img {
    width: 30px;
    height: 30px;
  }
  .slider {
    max-height: 600px;
  }
  .description {
    max-height: 600px;
  }
  .link {
    font-size: var(--text-header-h3);
  }
}
@media (max-width: 1279px) {
  .wrapper {
    flex-direction: column;
  }
  .slider {
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .wrapper {
    padding: 1rem;
  }
  .slider {
    max-height: 500px;
  }
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: var(--text-header-h3);
    max-width: 100%;
  }
  .description {
    height: 100%;
    max-height: none;
  }
}
@media (max-width: 550px) {
    .sliderMain {
    height: 300px;
  }
  .link {
    margin-top: 20px;
  }
  .reviews {
    padding: 1rem;
  }
  .review {
    max-width: 100%;
    width: 100%;
  }
  .reviewsHeading {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .name {
    font-size: var(--text-header-h3);
  }
  .stars > img {
    width: 25px;
    height: 25px;
  }
  .body {
    font-size: var(--text-regular);
  }
}