.wrapper {
    padding: 62px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 600px;
    height: 479px;
    width: 100%;
    color: var(--text-color-secondary);
    padding: 8px;
    border: 3px solid var(--text-color-secondary);
    border-radius: 1rem;
}
.titleContact {
    font-size: var(--text-header-h2);
}
.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.socialWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.instagram, .telegram, .facebook {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.instagram {
    background-image: url('/instagram.svg');
}
.facebook {
    background-image: url('/facebook.svg');
}
.telegram {
    background-image: url('/telegram.svg');
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    border: 3px solid var(--text-color-secondary);
    border-radius: 1rem;
}
.titleForm {
    font-size: var(--text-header-h2);
    color: var(--text-color-secondary);
}
.formContact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
}
.input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    color: var(--text-color-secondary);
    font-size: var(--text-description);
}
.textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    color: var(--text-color-secondary);
    font-size: var(--text-description);
    height: 150px;
}
.button {
        display: inline-block;
        background-color: var(--text-color-secondary);
        color: var(--text-color-primary);
        padding: 26px;
        border-radius: 50px;    
        font-weight: 600;
        cursor: pointer;
        border: 1px solid var(--text-color-secondary);
        box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 12px 24px rgba(0, 0, 0, 0.15);
}
@media(max-width: 1279px) {
    .wrapper {
        flex-direction: column;
        padding: 20px;
    }
    .contact {
        max-width: 100%;
    }
    .form {
        width: 100%;
    }
    .titleForm {
        text-align: center;
    }
}